html{
    box-sizing: border-box;
}

*::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
}

.mobile-menu{
    padding: .90em;
    list-style: none;
    border: 2px solid;
    margin-left: 10em;
    display: none;
}

.desktop-nav{
    display: none;
}


.toggleMobileMenu{
    display: block;
}

.hamburger-icon{
    margin: 0;
    padding-left: .30em;
    max-width: 8%;
}

.download-icon{
    max-width: 15%;
}

.logo-hamburger-menu{
    display: flex;
    align-items: center;
    /* border: 2px solid; */
}

.download-app-link{
    display: flex;
    text-decoration: none;
    color: black;
    border: 2px solid;
    border-radius: 10px;
    padding: 0 .5em 0 .5em;
    /* margin-right: .50em; */
}

.nav-link{
    text-decoration: none;
    color: black;
}

nav ul{
    display: flex;
    align-items: center;
}

#logo{
    max-width: 41%;
    /* border: 2px solid; */
    margin-right: 1.5em;
    margin-left: .50em;
}

.hero-section{
    position: relative;
}

.hero-image{
    margin: 0;
    padding: 0;
    max-width: 100%;
    margin-top: -2em;
    /* opacity: 0.90; */
}


.hero-form{
    /* border: 2px solid; */
    color: white;
    text-align: center;
    margin-top: -17em;
    /* position: fixed; */
}

.form-input-field{
    padding:  0 .30em;
    font-size: 1.4em;
    margin-bottom: .20em;
}

.submit-button{
    padding: .4em 6em;
    background: rgb(34, 34, 58);
    color: white;
    font: bold;
    font-size: 1em;
    border: 2px solid rgb(34, 34, 58);
    border-radius: 10px;
}
.hero-form h2{
    font-size: 1.8em;
}
.cities-section{
    margin-top: 4em;
    margin-left: 1.5em;
}
.city_1{
    max-width: 80%;
    border-radius: 10px;
}

.grid-cities{
    display: none;
}

.cities-section_2{
    margin-left: 1.5em;
}

.cities-section_3{
    margin-left: 1.5em;
}

.city_2{
    max-width: 50%;
}

@media (min-width: 450px) {
    body{
        /* background: rgb(182, 92, 92); */
    }
    #logo{
        max-width: 41%;
        /* border: 2px solid; */
        margin-right: 2.5em;
        margin-left: .50em;
    }
    
}

@media (min-width: 480px) {
    body{
        /* background: rgb(182, 92, 92); */
    }
    #logo{
        max-width: 41%;
        /* border: 2px solid; */
        margin-right: 3.5em;
        margin-left: .50em;
    }
    
}


@media (min-width: 500px) {
    body{
        /* background: rgb(182, 92, 92); */
    }
    #logo{
        max-width: 41%;
        /* border: 2px solid; */
        margin-right: 4.5em;
        margin-left: .50em;
    }
    
}



@media (min-width: 520px) {
    body{
        /* background: rgb(182, 92, 92); */
    }
    #logo{
        max-width: 41%;
        /* border: 2px solid; */
        margin-right:5.8em;
        margin-left: .50em;
    }
    
}


@media (min-width: 540px) {
    body{
        /* background: rgb(182, 92, 92); */
    }
    #logo{
        max-width: 41%;
        /* border: 2px solid; */
        margin-right:7.5em;
        margin-left: .50em;
    }
    
}


@media (min-width: 570px) {
    body{
        /* background: rgb(182, 92, 92); */
    }
    #logo{
        max-width: 41%;
        /* border: 2px solid; */
        margin-right:8.5em;
        margin-left: .50em;
    }
    .hero-form{
        /* border: 2px solid; */
        color: white;
        text-align: center;
        margin-top: -19em;
        /* position: fixed; */
    }
    .cities-section{
        margin-top: 7em;
        margin-left: 1.5em;
    }
    
}

@media (min-width: 590px) {
    body{
        /* background: rgb(182, 92, 92); */
    }
    #logo{
        max-width: 41%;
        /* border: 2px solid; */
        margin-right: 9.5em;
        margin-left: .50em;
    }

    .cities-section{
        margin-top: 9em;
        margin-left: 1.5em;
    }
    
}

@media (min-width: 605px) {
    body{
        /* background: rgb(182, 92, 92); */
    }
    #logo{
        max-width: 41%;
        /* border: 2px solid; */
        margin-right: 10.5em;
        margin-left: .50em;
    }
    
}


@media (min-width: 625px) {
    body{
        /* background: rgb(182, 92, 92); */
    }
    #logo{
        max-width: 41%;
        /* border: 2px solid; */
        margin-right: 11.5em;
        margin-left: .50em;
    }
    .cities-section{
        margin-top: 11em;
        margin-left: 1.5em;
    }
    
}

@media (min-width: 650px) {
    body{
        /* background: rgb(182, 92, 92); */
    }
    #logo{
        max-width: 41%;
        /* border: 2px solid; */
        margin-right: 13.5em;
        margin-left: .50em;
    }

    .hero-form{
        /* border: 2px solid; */
        color: white;
        text-align: center;
        margin-top: -19em;
        /* position: fixed; */
    }
    .cities-section{
        margin-top: 14em;
        margin-left: 1.5em;
    }
    
}

@media (min-width: 660px) {
    .hamburger-icon{
        display: none;
    }
    .desktop-nav{
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 2em;
    }
    #logo{
        margin-right: 1.2em;
    }

    .hero-form{
        /* border: 2px solid; */
        color: white;
        text-align: center;
        margin-top: -24em;
        /* position: fixed; */
    }
    .cities-section{
        margin-top: 12em;
        margin-left: 1.5em;
    }
    .city_1{
        display: none;
    }
    .grid-cities{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
    }
    .grid-cities img{
        max-width: 100%;
        border-radius: 10px;
    }
}


@media (min-width: 1040px) {

    #logo{
        margin-right: 5.2em;
    }

    .hero-form{
        /* border: 2px solid; */
        color: white;
        text-align: center;
        margin-top: -30em;
        /* position: fixed; */
    }
    .cities-section{
        margin-top: 17em;
        margin-left: 1.5em;
    }

    .city_1{
        display: none;
    }
}

@media (min-width: 1240px) {

    #logo{
        margin-right: 10em;
    }
    .hero-form{
        /* border: 2px solid; */
        color: white;
        text-align: center;
        margin-top: -40em;
        /* position: fixed; */
    }
    .cities-section{
        margin-top: 27em;
        margin-left: 1.5em;
    }

    .city_1{
        display: none;
    }
}

@media (min-width: 1340px) {

    #logo{
        margin-right: 15em;
    }
    .hero-form{
        /* border: 2px solid; */
        color: white;
        text-align: center;
        margin-top: -35em;
        /* position: fixed; */
    }
    .cities-section{
        margin-top: 28em;
        margin-left: 1.5em;
    }
    .city_1{
        display: none;
    }
}